.THIS .button{
    padding: 0 0 0 3em;
    width: 7em;
}

.THIS .header1{
    background: #b3d9ff;
    font-family:Tahoma, sans-serif;
}


.THIS .body{
    background: #F2F2F2;
    font-family:Tahoma, sans-serif;
    padding: 0 1em 0 1em;
}

.THIS .text{
    font-size: 110%;
    font-weight: 500;
    font-family:Tahoma, sans-serif;
}

.THIS .rows{
    height: 2em;
    padding: 0.3em 0 0 0;
    border-bottom: 0.5px solid;
}

.THIS .inputSection{
    padding: 1.5em 0 0 0;
    height: 5em;
    border-bottom: 0.5px solid;
}

.THIS .inputSection1{
    height: 5em;
    border-bottom: 0.5px solid;
}

.THIS .linesButton{
    text-align: left;
    width: 70em;
}
.THIS .linesButton1{
    text-align: right;
    width: 70em;
}

.THIS .headerTitle{
    text-align: center;
}