.THIS .header{
    background: #53C5A4;
    text-align: center;
    font-size: 130%;
    margin: 0 0.49em 0 0.49em;
}

.THIS .searchArea{
    width: 30%;
    min-width: 25em;
    max-width: 60em;
  /*  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6JG3-To75h3rJfSG8gr_xhMRobjMKuaShRmAfcJvO7gA_ud3J);*/
    background-size: cover;
    margin: 0 auto;
    border: 1px double black;
    background: #b3d9ff;
    padding: 0 0 1em 0;
    font-size: 120%;
}

.THIS .alignmentText{
    text-align: right;
    padding: 2em 1em 0 0;
}

.THIS .alignment{
    width: 50%;
    max-width: 30em;
    padding: 0 2em 0 0;
}

.THIS .headerTable{
  margin: 0 auto;
    padding: 0 5em 2em 5em;
}

.THIS .buttons{
    text-align: center;  
    padding: 2.5em 0 0 0;
}

.THIS .buttonWidth{
    width: 10em;
}

.THIS .background1{
    background: #ffffb3;
    border: 1px double black;
}

.THIS .footer{
    width: 99.3%;
    background: #53C5A4;
    padding: 0 3em 0 3em;
    margin: 0 0.49em 0 0.49em;
}